ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 25px;
}

.title {
    margin-bottom: 8px;
}

.title a {
    font-weight: bold;
    color: #D94C1C;
}

.title a:hover {
    color: #832d11;
}

.tags a, .description {
    font-size: 85%;
}

.description {
    margin-bottom: 0px;
}

.tags {
    margin-top: -6px;
}

.tags a {
    color: #999;
    padding-right: 8px;
}

.tags a:hover {
    color: #666;
}

.navbar-default {
    background-color: #D94C1C;
    border: none;
    border-radius: 0px;
    color: white;
}

.navbar-default a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: white;
}

@media screen and (max-width: 770px) {
    .navbar-default a,
    .navbar-brand,
    .navbar-brand:hover {
        padding-left: 0px !important;
    }
}

.mobile_title {
    display: none;
}
@media screen and (max-width: 500px) {
    .mobile_title {
        display: inline-block;
    }
    .subtitle {
        display: none;
    }
}

body {
    font-size: 150%;
}

/* Toggle element on mobile screens */
.navbar-toggle {
    background-color: white;
    border-color: #8c3112;
}

.container {
    max-width: 750px;
}

.navbar-form,
.navbar-default .navbar-form {
    border: none;
}

blockquote {
    font-size: 95%;
    border-left: none;
    padding-left: 15px;
    margin-bottom: 0px;
    padding-top: 2px;
    color: #070462;
}

#submitButton:enabled {
  border: 2px solid #D94C1C;
  color: #D94C1C;
}

#submitButton:disabled {
  margin: 1px;
}

.ui-widget {
  font-size: 0.9em !important;
}